OPENCLAW_GATEWAY_URL=http://127.0.0.1:18791
OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_AGENT_ID=mauro
OPENCLAW_TIMEOUT_MS=6000
ALEXA_SKILL_ID=amzn1.ask.skill.3ad253b7-8aa1-4221-9875-8323048ba594
ALEXA_SKILL_ID=
